@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Martel:wght@400;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Upright&display=swap");
:root {
  --ff-body: "Martel", serif;
  --ff-nav: "Lato", sans-serif;
  --ff-title: "Cormorant SC", serif;
  --ff-subtitle: "Cormorant Upright", serif;
  --fs-200: 0.6875rem;
  --fs-300: 0.75rem;
  --fs-400: 0.875rem;
  --fs-700: 1.25rem;
  --fs-900: 3rem;
  --fw-light: 300;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-bold: 700;
  --fw-extrabold: 800;
  --shadow-body: 0px 6px 20px 0px rgba(0,0,0,0.25); }
  @media screen and (min-width: 576px) {
    :root {
      --fs-200: 0.9375rem;
      --fs-300: 1rem;
      --fs-400: 1.1875rem;
      --fs-700: 1.6875rem;
      --fs-900: 4rem; } }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 16px; }

img {
  width: 100%; }

ul {
  list-style-type: none; }

a {
  text-decoration: none;
  color: inherit; }

body {
  overflow-x: hidden;
  font-family: var(--ff-body);
  font-size: var(--fs-400); }

::placeholder {
  color: #505050; }

.pos-relative {
  position: relative; }

.pos-sticky {
  position: sticky; }

.pos-absolute {
  position: absolute; }

.pos-fixed {
  position: fixed; }

.text-right {
  text-align: right; }

.text-left {
  text-align: left; }

.text-center {
  text-align: center; }

.text-justify {
  text-align: justify; }

.d-block {
  display: block; }

.d-inline {
  display: inline; }

.d-inline-block {
  display: inline-block; }

.d-flex {
  display: flex; }

.d-grid {
  display: grid; }

.d-initial {
  display: initial; }

.d-none {
  display: none; }

.z-positive-10 {
  z-index: 10; }

.z-positive-20 {
  z-index: 20; }

.z-positive-30 {
  z-index: 30; }

.z-positive-40 {
  z-index: 40; }

.z-positive-50 {
  z-index: 50; }

.z-positive-60 {
  z-index: 60; }

.z-positive-70 {
  z-index: 70; }

.z-positive-80 {
  z-index: 80; }

.z-positive-90 {
  z-index: 90; }

.z-positive-100 {
  z-index: 100; }

.z-negative-10 {
  z-index: -10; }

.z-negative-20 {
  z-index: -20; }

.z-negative-30 {
  z-index: -30; }

.z-negative-40 {
  z-index: -40; }

.z-negative-50 {
  z-index: -50; }

.z-negative-60 {
  z-index: -60; }

.z-negative-70 {
  z-index: -70; }

.z-negative-80 {
  z-index: -80; }

.z-negative-90 {
  z-index: -90; }

.z-negative-100 {
  z-index: -100; }

.desktop-content {
  display: none; }

@media screen and (min-width: 768px) {
  .mobile-content {
    display: none; }
  .desktop-content {
    display: initial; } }

.light-text {
  color: #6d6d6d; }

.page-header {
  font-size: var(--fs-700);
  font-weight: var(--fw-bold);
  margin-bottom: 28px; }
  .page-header--catalog-margins {
    margin-top: 90px; }

header {
  position: sticky;
  top: -82px;
  transform: translateY(-100%);
  animation-name: slideInFromTop;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards; }

@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%); }
  100% {
    transform: translateY(0%); } }
  @media screen and (min-width: 768px) {
    header {
      top: 0px; } }

.navbar {
  display: flex;
  flex-direction: column;
  background-color: black;
  color: white;
  box-shadow: var(--shadow-body);
  padding: 13px 8.89% 16px 8.89%;
  margin-bottom: 24px; }
  @media screen and (min-width: 768px) {
    .navbar {
      flex-direction: row;
      padding: 21px 49px 21px 94px;
      align-items: center;
      justify-content: space-between; } }
  @media screen and (min-width: 1200px) {
    .navbar {
      padding: 8px 73px 8px 127px; } }
  .navbar__logo-wrapper {
    width: 55px;
    height: 55px;
    margin: 0 auto 30px auto; }
    @media screen and (min-width: 768px) {
      .navbar__logo-wrapper {
        width: 86px;
        height: 86px;
        margin: 0; } }
    @media screen and (min-width: 1200px) {
      .navbar__logo-wrapper {
        width: 72px;
        height: 72px; } }
  .navbar__links-container {
    display: flex;
    justify-content: space-between;
    font-family: var(--ff-nav);
    font-weight: var(--fw-bold);
    font-size: var(--fs-300);
    text-transform: uppercase; }
    @media screen and (min-width: 768px) {
      .navbar__links-container {
        width: 383px; } }
    @media screen and (min-width: 1200px) {
      .navbar__links-container {
        width: 472px; } }
  .navbar__link::before, .footer__link::before {
    content: "";
    position: absolute;
    top: 100%;
    z-index: 10;
    background-color: white;
    width: 0%;
    height: .1875em;
    transition: width .6s ease-out; }
  .navbar__link:hover::before, .footer__link:hover::before {
    width: 100%; }
  .navbar__link--active::after {
    content: "";
    position: absolute;
    right: 0%;
    top: 100%;
    z-index: 10;
    background-color: white;
    width: 100%;
    height: .1875em; }
  .navbar__link--active:hover::after {
    display: none; }

.banner {
  background-image: url(../../img/banner-img.jpg);
  height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.btn {
  display: block;
  background-color: black;
  color: white;
  border-radius: 4px;
  width: min-content;
  padding: .64286em 1.5em;
  margin: auto;
  font-size: var(--fs-400);
  font-weight: var(--fw-extrabold);
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  font-family: inherit;
  transition: transform .6s, box-shadow .6s; }
  .btn:hover {
    transform: scale(1.1, 1.1);
    box-shadow: 0px 6px 20px 7px rgba(0, 0, 0, 0.25); }

.card-item {
  width: 300px;
  text-align: center;
  border: 3px solid black;
  border-radius: 4px; }
  .card-item__title {
    font-size: 1.4rem; }
  .card-item__line-break {
    border: 1px solid #6d6d6d;
    width: 80%;
    margin: 0 auto; }
  .card-item__price {
    font-family: var(--ff-nav);
    font-size: 1.45rem;
    font-weight: var(--fw-bold);
    margin: 6px 0; }
  .card-item img {
    background-color: #dddddd; }

.card-instructions {
  display: flex;
  align-items: center;
  border: 2px solid #6d6d6d;
  border-radius: 4px;
  gap: 20px; }
  .card-instructions--reversed-content {
    text-align: right;
    flex-direction: row-reverse; }
  .card-instructions__img {
    background-color: #f1f1f1;
    width: auto;
    height: 100%; }
  .card-instructions__heading {
    font-size: var(--fs-400); }
  .card-instructions__text {
    font-size: var(--fs-200); }

.card-member {
  width: 250px;
  text-align: center;
  border: 3px solid black;
  border-radius: 3px; }
  .card-member__name {
    font-size: var(--fs-400);
    margin: 2px 0; }
  .card-member__line-break {
    border: 1px solid #6d6d6d;
    width: 80%;
    margin: 0 auto; }
  .card-member__role {
    font-size: var(--fs-300);
    margin: 4px 0; }

.footer {
  display: grid;
  grid-template-columns: 55% 45%;
  grid-template-rows: repeat(3, max-content);
  justify-items: center;
  align-items: center;
  row-gap: 45px;
  padding-top: 67px;
  padding-bottom: 6px;
  margin-top: 67px;
  background-color: black;
  color: white; }
  @media screen and (min-width: 768px) {
    .footer {
      grid-template-columns: repeat(3, 1fr);
      row-gap: 62px; } }
  @media screen and (min-width: 1200px) {
    .footer {
      margin-top: 86px;
      grid-template-columns: 1fr 28% 1fr;
      grid-template-rows: repeat(2, max-content);
      row-gap: 86px;
      padding-top: 86px; } }
  .footer__nav {
    display: flex;
    flex-direction: column;
    font-family: var(--ff-nav);
    font-weight: var(--fw-bold);
    font-size: var(--fs-300);
    text-transform: uppercase;
    gap: 1.58333em; }
  .footer__link {
    position: relative; }
  .footer__socials-container {
    display: flex;
    flex-direction: column;
    font-size: 30px;
    gap: .86666em;
    align-items: center; }
    @media screen and (min-width: 768px) {
      .footer__socials-container {
        font-size: 40px; } }
    @media screen and (min-width: 1200px) {
      .footer__socials-container {
        flex-direction: row; } }
  .footer__social-icon {
    display: block;
    transition: transform .6s; }
  .footer__social-icon:hover {
    transform: scale(1.25, 1.25); }
  .footer__logo {
    width: 55px;
    height: 55px;
    align-self: start; }
    @media screen and (min-width: 768px) {
      .footer__logo {
        grid-area: 1 / 2 / span 1 / span 1;
        width: 86px;
        height: 86px;
        align-self: auto; } }
  .footer__secondary-nav span {
    display: none; }
    @media screen and (min-width: 1200px) {
      .footer__secondary-nav span {
        display: initial; } }
  .footer__secondary-nav {
    display: flex;
    flex-direction: column;
    font-family: var(--ff-nav);
    font-size: var(--fs-200);
    font-weight: var(--fw-light);
    text-align: center;
    gap: 1.58333em; }
    @media screen and (min-width: 768px) {
      .footer__secondary-nav {
        grid-column: 1 / span 3;
        flex-direction: row;
        width: 100%; } }
    @media screen and (min-width: 1200px) {
      .footer__secondary-nav {
        display: initial;
        grid-column: 3 / span 1; } }
  @media screen and (min-width: 768px) {
    .footer__secondary-link-wrapper {
      flex: 1; } }
  @media screen and (min-width: 1200px) {
    .footer__secondary-link-wrapper {
      display: inline; } }
  .footer__copyright {
    grid-column: 1 / span 2;
    font-family: var(--ff-nav);
    font-size: var(--fs-200);
    font-weight: var(--fw-light); }
    @media screen and (min-width: 768px) {
      .footer__copyright {
        grid-column: 1 / span 3; } }
    @media screen and (min-width: 1200px) {
      .footer__copyright {
        grid-area: 2 / 1 / span 1 / span 1;
        justify-self: start;
        padding-left: 36px; } }

.form-contact {
  width: 750px;
  margin: 60px auto; }
  .form-contact__text-inputs-container {
    display: flex;
    min-height: 420px; }
  .form-contact__group {
    width: 80%; }
  .form-contact__input {
    display: block;
    width: 100%;
    padding: 12px 8px;
    margin-top: 6px;
    font-family: inherit;
    font-size: inherit;
    border: 2px solid black;
    border-radius: 3px; }
    .form-contact__input--textarea-size {
      resize: none;
      height: 276px; }
  .form-contact__checkbox-container {
    margin: 35px 0;
    text-align: center;
    font-size: 0.9rem; }

.formLeft,
.formRight {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; }

.main-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .main-header--hero-height {
    height: 21.56vh; }
  .main-header--padding {
    padding: 44px 0 82px 0; }
  .main-header__title {
    font-family: var(--ff-title);
    font-size: var(--fs-900);
    font-weight: var(--fw-medium);
    letter-spacing: .12em;
    margin-bottom: 4px; }
  .main-header__subtitle {
    font-family: var(--ff-subtitle);
    font-size: var(--fs-700);
    font-weight: var(--fw-regular); }

.hero {
  box-shadow: var(--shadow-body); }
  .hero__slide {
    background-image: url("../img/hero-img.jpg");
    height: calc(78.44vh - 152px);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }
    @media screen and (min-width: 1200px) {
      .hero__slide {
        height: calc(78.44vh - 112px); } }

.presentation {
  margin: 67px 0; }
  @media screen and (min-width: 1200px) {
    .presentation {
      margin: 86px 0; } }
  .presentation__heading {
    font-size: var(--fs-700);
    font-weight: var(--fw-bold); }
    @media screen and (min-width: 768px) {
      .presentation__heading {
        margin-bottom: 27px; } }
  .presentation__heading, .presentation__text {
    margin: 27px auto;
    width: 80.6%; }
    @media screen and (min-width: 768px) {
      .presentation__heading, .presentation__text {
        margin: 0;
        width: auto; } }
  @media screen and (min-width: 768px) {
    .presentation__container-top, .presentation__container-bottom {
      display: flex;
      gap: 27px;
      padding: 0 58px;
      align-items: center; } }
  @media screen and (min-width: 1200px) {
    .presentation__container-top, .presentation__container-bottom {
      padding: 0 86px; } }
  @media screen and (min-width: 768px) {
    .presentation__container-top {
      margin-bottom: 122px; } }
  @media screen and (min-width: 1200px) {
    .presentation__container-top {
      margin-bottom: 108px; } }
  @media screen and (min-width: 768px) {
    .presentation__container-bottom {
      justify-content: flex-end; } }
  @media screen and (min-width: 768px) {
    .presentation__img {
      width: 288px;
      border-radius: 4px; } }
  @media screen and (min-width: 1200px) {
    .presentation__img {
      width: 304px; } }
  @media screen and (min-width: 768px) {
    .presentation__text-container {
      max-width: 474px; } }

.testimonies {
  padding: 60px 50px;
  justify-content: center;
  align-items: center;
  box-shadow: var(--shadow-body);
  font-size: var(--fs-200);
  font-style: italic;
  margin: 67px 0; }
  @media screen and (min-width: 768px) {
    .testimonies {
      padding: 60px 90px;
      justify-content: space-around; } }
  @media screen and (min-width: 1200px) {
    .testimonies {
      padding: 60px 182px; } }
  .testimonies__quote-container {
    width: 260px; }
  .testimonies__quote-footer {
    margin-top: .63636em; }
  @media screen and (min-width: 768px) {
    .testimonies__quote-container:nth-child(2) {
      display: initial; } }
  @media screen and (min-width: 1200px) {
    .testimonies__quote-container:nth-child(3) {
      display: initial; } }

.cta-home {
  margin: 67px 0; }
  @media screen and (min-width: 1200px) {
    .cta-home {
      margin: 86px 0; } }
  .cta-home__text {
    font-size: var(--fs-400);
    margin-bottom: 28px; }

/* CALL TO ACTION CATALOG */
.cta-catalog__text {
  margin: 52px 0 26px 0;
  font-size: var(--fs-400); }

/* ITEMS SECTION */
.items {
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 60px;
  margin: 140px 0;
  padding: 0 100px; }

.size-chart {
  margin: 60px auto;
  font-family: var(--ff-nav);
  text-align: center;
  font-size: var(--fs-400);
  border-collapse: collapse; }
  .size-chart td,
  .size-chart th {
    border: 2px solid black;
    padding: 6px 28px; }
  .size-chart th {
    background-color: black;
    color: white; }

.size-instructions__text {
  margin: 100px 0 50px 0;
  text-align: center;
  font-size: var(--fs-400); }

.size-instructions__instructions-container {
  grid-template-columns: repeat(2, 1fr);
  gap: 60px;
  margin: auto;
  max-width: 1200px; }

.about__text {
  font-size: var(--fs-400);
  width: 80%;
  max-width: 1200px;
  margin: auto; }

.members {
  flex-wrap: wrap;
  width: 700px;
  justify-content: space-around;
  row-gap: 60px;
  margin: 120px auto; }

.contact__text {
  font-size: var(--fs-400); }

.grid-body {
  display: grid;
  height: 100vh;
  grid-template-rows: min-content auto min-content; }

.pnf {
  flex-direction: column;
  gap: 4px;
  padding: 0 35px;
  justify-content: center;
  height: 100%; }
  @media screen and (min-width: 768px) {
    .pnf {
      padding: 0 58px;
      gap: 20px; } }
  .pnf__title {
    font-family: var(--ff-title);
    font-size: 4.75rem;
    font-weight: var(--fw-bold); }
    @media screen and (min-width: 576px) {
      .pnf__title {
        font-size: 6.3125rem; } }
  .pnf__subtitle {
    font-family: var(--ff-subtitle);
    font-size: 1.5rem;
    font-weight: var(--fw-regular); }
    @media screen and (min-width: 576px) {
      .pnf__subtitle {
        font-size: 2rem; } }
