@import "../abstracts/index";

/* CALL TO ACTION CATALOG */

.cta-catalog__text {
    text-align: center;
    padding: 0 35px;
    margin-bottom: 28px;
    font-size: var(--fs-400);

    @include mq(tablet) {
        padding: 0 58px;
    }
}

/* ITEMS SECTION */

.items {
    display: grid;
    grid-template-columns: min-content;
    width: min-content;
    margin: auto;
    row-gap: 50px;

    @include mq(tablet) {
        grid-template-columns: repeat(2, min-content);
        row-gap: 80px;
        column-gap: 112px;
    }

    @include mq(desktop) {
        grid-template-columns: repeat(3, min-content);
    }
}