@import "../abstracts/index";

.contact__text {
    text-align: center;
    padding: 0 35px;
    margin-bottom: 90px;

    @include mq(tablet) {
        padding: 0 58px;
        margin-bottom: 126px;
    }

    @include mq(tablet) {
        padding: 0 86px;
    }
}