@import "../abstracts/index";

///////////////////ITEM CARDS

.card-item {
    width: 320px;
    height: 148px;
    border: 2px solid #c2c2c2;
    border-radius: 4px;
    display: flex;
    overflow: hidden;

    @include mq(tablet-sm) {
        width: 217px;
        height: 340px;
        border: 3px solid #c2c2c2;
        flex-direction: column;
    }

    @include mq(desktop-sm) {
        width: 296px;
        height: 457px;
    }

    &__carousel-wrapper {
        background-color: #c2c2c2;
        width: 118px;
        display: flex;
        align-items: center;

        @include mq(tablet-sm) {
            width: auto;
            height: 213px;
            justify-content: center;
        }

        @include mq(desktop-sm) {
            height: 290px;
        }
    }

    &__body {
        width: 202px;

        @include mq(tablet-sm) {
            width: auto;
            height: 127px;
        }

        @include mq(desktop-sm) {
            height: 167px;
            transition: transform .5s ease-in-out;

            &:hover {
                transform: scale(1.05);
            }
        }
    }

    &__text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        text-align: center;
    }

    &__title,
    &__price {
        font-size: 1.25rem;
        font-weight: var(--fw-bold);
        padding: 0 11px;
        line-height: 112%;

        @include mq(tablet-sm) {
            padding: 0 24px;
        }

        @include mq(desktop-sm) {
            font-size: var(--fs-700);
        }
    }

    &__line-break {
        width: 75%;
        height: 2px;
        background-color: #EBEBEB;
        margin: 11px 0;
    }

    .carousel-control-prev,
    .carousel-control-next {
        cursor: pointer;
    }
}

/////////////////////INSTRUCTIONS CARDS

.card-instructions {
    width: 320px;
    height: 147px;
    display: flex;
    border: 2px solid #EBEBEB;
    border-radius: 4px;

    @include mq(tablet-sm) {
        width: 435px;
        height: 200px;
        border: 3px solid #EBEBEB;
    }

    &--reversed-content {
        flex-direction: row-reverse;
        text-align: right;
    }

    &__img {
        height: 100%;
        width: auto;
        background-color: #EBEBEB;
    }

    &__text-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 10px;

        @include mq(tablet-sm) {
            padding: 0 13px;
        }
    }

    &__heading {
        font-size: var(--fs-400);
        font-weight: var(--fw-regular);
        margin-bottom: 7px;
    }

    &__text {
        font-size: var(--fs-200);
    }
}

////////////////////////MEMBER CARDS

.card-member {
    width: 186px;
    height: 258px;
    display: flex;
    flex-direction: column;
    border: 2px solid #EBEBEB;
    border-radius: 4px;

    @include mq(tablet-sm) {
        width: 216px;
        height: 321px;
        border: 3px solid #EBEBEB;
    }

    &__img {
        border-radius: 2px 2px 0 0;
    }

    &__body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    &__name {
        font-size: var(--fs-400);
        font-weight: var(--fw-regular);
        padding: 0 10px;
    }

    &__line-break {
        height: 2px;
        width: 75%;
        background-color: #EBEBEB;
        margin: 4px 0;
    }

    &__role {
        font-size: var(--fs-300);
        padding: 0 10px;
    }
}