@import "../abstracts/index";

//CONTACT FORM
.form-contact {
    &__text-inputs-container {
        display: flex;
        flex-direction: column;
        gap: 28px;
        align-items: center;

        @include mq(tablet-sm) {
            gap: 38px;
        }

        @include mq(tablet) {
            flex-direction: row;
            gap: 52px;
            align-items: stretch;
            justify-content: center;
        }

        @include mq(desktop-sm) {
            gap: 100px;
        }
    }

    &__column {
        width: 290px;
        display: flex;
        flex-direction: column;
        gap: 28px;

        @include mq(tablet-sm) {
            width: 300px;
            gap: 38px;
        }
    }

    &__input {
        display: block;
        width: 100%;
        padding: 8px 12px;
        margin-top: 4px;
        font-family: inherit;
        font-size: var(--fs-400);
        border: 2px solid black;
        border-radius: 4px;

        @include mq(tablet-sm) {
            padding: 10px 15px;
            font-size: var(--fs-300);
        }

        &--textarea-size {
            resize: none;
            height: 242px;

            @include mq(tablet-sm) {
                height: 299px;
            }
        }
    }

    &__checkbox-container {
        font-size: var(--fs-300);
        margin: 56px auto 36px;
        width: fit-content;
        padding: 0 35px;
        text-align: center;

        @include mq(tablet-sm) {
            margin: 74px auto 54px;
            padding: 0 58px;
        }
    }
}