@import "../abstracts/index";

//POSITIONING

$position: relative, sticky, absolute, fixed;

@each $value in $position {
    .pos-#{$value} {
        position: $value;
    }
}

//TEXT ALIGNMENT

$text-align: right, left, center, justify;

@each $value in $text-align {
    .text-#{$value} {
        text-align: $value;
    }
}

//DISPLAY

$display: block, inline, inline-block, flex, grid, initial, none;

@each $value in $display {
    .d-#{$value} {
        display: $value;
    }
}

//Z-INDEX

@for $i from 1 through 10 {
    .z-positive-#{$i * 10} {
        z-index: $i * 10;
    }
}

@for $i from 1 through 10 {
    .z-negative-#{$i * 10} {
        z-index: $i * -10;
    }
}

//CONTENT FOR DEVICES

.desktop-content {
    display: none;
}

@include mq(tablet) {
    .mobile-content {
        display: none;
    }
    
    .desktop-content {
        display: initial;
    }
}

//COLORS

.light-text {
    color: rgb(109, 109, 109);
}

//HEADING

.page-header {
    font-size: var(--fs-700);
    font-weight: var(--fw-bold);
    margin-bottom: 28px;

    &--catalog-margins {
        margin-top: 90px;
    }
}