$type-scales: (
    mobile: (
        200: .6875rem,
        300: .75rem,
        400: .875rem,
        700: 1.25rem,
        900: 3rem
    ),

    tablet-sm: (
        200: .9375rem,
        300: 1rem,
        400: 1.1875rem,
        700: 1.6875rem,
        900: 4rem
    )
)